<ng-container>
    <div class="container">
        <mat-card class="mb-4 mx-auto profile-card">
            <mat-card-content>
                <p cCardText>
                    Name => {{user.name}}
                </p>
                <p cCardText>
                    Email => {{ user.email }}
                </p>
                <p cCardText>
                    ID => {{user.id}}
                </p>
                <button mat-raised-button color="primary">Go somewhere</button>
            </mat-card-content>
        </mat-card>

        <mat-card class="mb-4 mx-auto profile-card">
            <mat-card-content>
                <p cCardText>
                    Name => {{user.name}}
                </p>
                <p cCardText>
                    Email => {{ user.email }}
                </p>
                <p cCardText>
                    ID => {{user.id}}
                </p>
                <button mat-raised-button color="primary">Go somewhere</button>
            </mat-card-content>
        </mat-card>
        <mat-card class="mb-4 mx-auto profile-card">
            <mat-card-content>
                <p cCardText>
                    Name => {{user.name}}
                </p>
                <p cCardText>
                    Email => {{ user.email }}
                </p>
                <p cCardText>
                    ID => {{user.id}}
                </p>
                <button mat-raised-button color="primary">Go somewhere</button>
            </mat-card-content>
        </mat-card>
        <mat-card class="mb-4 mx-auto profile-card">
            <mat-card-content>
                <p cCardText>
                    Name => {{user.name}}
                </p>
                <p cCardText>
                    Email => {{ user.email }}
                </p>
                <p cCardText>
                    ID => {{user.id}}
                </p>
                <button mat-raised-button color="primary">Go somewhere</button>
            </mat-card-content>
        </mat-card>
    </div>
</ng-container>